/*class-> .text-red{}
id-> #id-bilgisi {} */

.text-purple{
color:rebeccapurple;

}
.text-white{
    color:white;
    
    }
.background-black{
    color: black;
}
.background-dark-grey{
    color: rgb(32, 31, 32);
}

